<!-- ./templates/help.html -->

<!doctype html>

<head>
    <title>Assignment 6 - help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pretty_css.css') }}">
</head>
<title>Help</title>

<h1>Help page!</h1>
<section><a href="/">Back</a></section>
<section><a href="/help2/index.html">A better-looking documentation page (bonus)</a></section>
<section>
    <div>
        <h3>Index:</h3>
        <p><a href="/help/data">Data</a></p>
        <p><a href="/help/fitting">Fitting</a></p>
        <p><a href="/help/visualize">Visualize</a></p>

    </div>
</section>